HTML,
body{
	background-color:lavender ;
	text-align: center;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
h1 {
	font-family: fantasy ;
	font-style: italic ;
	border-bottom: 5px solid pink ;
	color: black;
	text-align: center;
	font-size:  5em;
}
img{
	margin: 10px;
}

.btn{
	border-radius: 300px ;
	text-transform: uppercase ;
}

.btn-primary{
	background-color: hotpink;
	border-color: hotpink;
}

.btn-primary:hover{
	background-color: black;
	border-color: black;
	border-width: 4px;
}
.btn-xl{
	padding : 1rem 2rem;
}


